@model IEnumerable<MyTask>

<h1>Task List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Task ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Deadline.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-controller="MyTask" asp-route-id="@task.Id" class="btn btn-primary">Details</a>
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="MyTask" asp-route-id="@task.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="MyTask" asp-route-id="@task.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<style>

    .table-btn {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

        .table-btn:hover {
            color: #fff;
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>
